body
{
    background-color: rgb(255, 255, 255);
}

*
{
    padding: 0;
    margin: 0;
}

nav
{
    position: sticky;
    top: 0;
    width: 100%;
    height: 4.2em;
    background-color:#2d6cb0;
}

.logo_contenedor
{
    height: 100%;
    display: inline-block;
}

.logo
{
    width: 300px;
    height: 67px;
    top: 0;
    right: 0px;
}

.contactos
{
    height: 100%;
    display: inline-block;
    float: right;
    padding-top: 10px;
    padding-right: 15px;
}

.user_logo
{
    border-radius: 5px;
    display: inline-block;
    margin-left: 15px;  
}

a
{
    text-decoration: none;
    padding: 5px 5px;
    color: white;
}

.user_logo .material-icons 
{
    font-size: 30px;
    display: inline-block;
}

a:hover
{
    color: rgb(99, 212, 150);
}

#user_logo:hover
{
    color: rgb(255, 255, 255)
}

/*CONTENIDO DE LA PAGINA*/

.personas
{
    height: 452px;
    width: 1000px;
    background-color: rgb(223, 223, 223);
    margin-top: 25px;
    margin-left: 7.6em;
    overflow: auto;
}

img
{
    height: 175px;
    width: 175px;
    
}



figure
{
    display: inline-block;
    margin: 2px 2px 2px 16px;
}

.fila2
{
    margin-top: 15px;
}

figure:hover
{
    box-shadow: 7px 2px 10px -1px rgba(0,0,0,0.75);
}

figcaption
{
    
    background-color: aliceblue;

}

.adornito
{
    background-color: #4d5369;
    height: 1em;
    width: 100%;
    margin-top: 3.2em;
}

.contenido_footer
{
    background-color:#2e374a;
    height: 8em;
    width: 100%;
}

p
{
    text-align: center;
}


/*FOOTER*/



* {
  font-family: Open Sans;
}

section {
  padding-top: 20px;  
  margin-top: 100px;
  width: 100%;
  display: inline-block;
  background: #333;
  height: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding-top: 10px ;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  rgb(194, 111, 169);
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.company
{
    padding-left: 20px;
}





































/*
.adorno_buscador
{
    float: left;
    width: 250px;
    padding: 0px;
    margin: 8px;
    height: 34px;
    background-color: #fff;
    box-shadow: inset 0 0 3px rgb(0 0 0 / 50%);
    margin-top: 50px;
}


button
{
    float: right;
    
}

.buscar
{
    background: none;
    border: none;
    text-decoration: none;
    color: #495a70;
    font-weight: normal;
    font-size: 14px;
    width: 184px;
    height: 24px;
    padding: 6px 5px 5px 12px;
}

.buscar:focus
{
    outline: none;

}
*/